@use "../variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $containerDesktopWidth;
}

.header__subtitle {
  margin: 0;
}

@media (max-width: $tabletMaxWidth) {
  header {
    height: 50px;
  }

  .header__container {
    width: 710px;
  }

  .header__title {
    align-self: center;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
}

@media (max-width: $mobileMaxWidth) {
  header {
    height: 80px;
  }

  .header__container {
    flex-direction: column;
  }

  .header__title {
    margin-bottom: 0;
  }

  .header__subtitle {
    margin-bottom: 10px;
  }
}
