@import "../variables";

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: costa, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 50px;
  margin: 0;
}

header p {
  margin: 0;
}

@media (max-width: $tabletMaxWidth) {
  header {
    height: 50px;
  }
  header div {
    width: 710px;
  }

  header h1 {
    align-self: center;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
}

@media (max-width: $mobileMaxWidth) {
  header {
    height: 80px;
  }

  header div {
    flex-direction: column;
  }
}
