@use "../variables";

.intro {
  margin-top: 10px;
}

.summary__profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid $orange;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.summary__text {
  text-align: justify;
}

.intro__container {
  display: flex;
  gap: 30px;
  width: $containerDesktopWidth;
}

.summary__title {
  margin: 0;
}

.summary {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  width: 66%;
}

.mediums {
  width: 33%;
}

.mediums__title {
  margin: 4px 0 14px 0;
}

@media (max-width: $tabletMaxWidth) {
  .intro__container {
    width: $containerTabletWidth;
  }

  .mediums {
    display: none;
  }

  .summary {
    width: 100%;
  }
}

@media (max-width: $mobileMaxWidth) {
  .intro__container {
    width: $containerMobileWidth;
  }

  .summary {
    flex-direction: column;
    align-items: center;
  }

  .summary__title {
    width: 100%;
    text-align: center;
  }

  .summary__col {
    width: 100%;
  }
}
