<section class="galeria">
    <div class="grid-item">
        <img src="./assets/images/portfolio4.avif" alt="portfoli41" />
    </div>
    <div class="grid-item grid-item--width2">
        <img src="./assets/images/portfolio5.avif" alt="portfolio5" />
    </div>
    <div class="grid-item">
        <img src="./assets/images/portfolio6.avif" alt="portfolio6" />
    </div>
    <div class="grid-item">
        <img src="./assets/images/portfolio1.avif" alt="portfolio1" />
    </div>
    <div class="grid-item">
        <img src="./assets/images/portfolio3.avif" alt="portfolio3" />
    </div>
</section>
