<section class="intro">
    <div class="container">
        <div class="summary">
            <img
                src="./assets/images/Photo2018-resized.avif"
                alt="Yesenia Martínez Acevedo"
            />
            <div>
                <h2>Acerca de mi</h2>
                <p>
                    Soy egresada de la
                    <a href="https://centraldeartesvisuales.org/"
                        >Escuela Especializada Central de Artes Visuales</a
                    >
                    en Santurce, Puerto Rico. Durante los 6 años de formación en
                    las artes visuales que me ha provisto la Central, aprendí a
                    trabajar con diferentes medios, incluyendo la cerámica, la
                    escultura y el grabado. Sin embargo, el medio en el que me
                    especialicé fue la pintura, específicamente acrílico,
                    acuarela y gouache. A continuación una muestra de mis
                    trabajos desde 2010 hasta el presente.
                </p>
            </div>
        </div>
        <div class="mediums">
            <h3>Medios</h3>
            <details>
                <summary><i class="fa-solid fa-palette"></i>Acrílico</summary>
                <p>
                    El acrílico es el medio con el que me inicié y en el que la
                    mayoría de mis pinturas más antiguas están hechas. Es el
                    medio más fácil de manejar ya que la consistencia de la
                    pintura permite poder hacer varias capas y cubrir errores.
                </p>
            </details>
            <details>
                <summary><i class="fa-solid fa-palette"></i>Gouache</summary>
                <p>
                    Un medio que he comenzado a utilizar recientemente, es
                    complicado ya que el color cambia cuando la pintura se seca.
                    Es posible pintar en capas y corregir errores pero con
                    precaución ya que mucha agua puede dañar las capas ya seca.
                    Es un punto intermedio entre el acrílico y la acuarela.
                </p>
            </details>
            <details>
                <summary><i class="fa-solid fa-palette"></i>Acuarela</summary>
                <p>
                    La acuarela es el medio más impredecible y complicado ya que
                    los errores no se pueden corregir ni tapar. Es el medio en
                    el que menos he trabajado y más me ha costado dominar por su
                    dificultad. Sin embargo lo disfruto mucho y los resultados
                    son siempre interesantes.
                </p>
            </details>
        </div>
    </div>
</section>
