/**
* El layout maneja la ubicación y tamaño de elementos básicos.
*
*
*

*/

@import "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

section {
  width: 100vw;
}

header {
  width: 100vw;
  height: 50px;
}

.footer {
  width: 100vw;
  height: 5vh;
}

@media (max-width: $mobileMaxWidth) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 15vh;
  }
}
