/**
* El layout maneja la ubicación y tamaño de elementos básicos.
*
*
*

*/

@import "../variables";

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "intro detalles"
    "cita cita"
    "galeria galeria"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
}

section {
  width: 100vw;
}

header {
  grid-area: header;
  width: 100vw;
  height: 50px;
}

.intro {
  grid-area: intro;
}

.detalles {
  grid-area: detalles;
}

.cita {
  grid-area: cita;
}

.galeria {
  grid-area: galeria;
}

footer {
  grid-area: footer;
  width: 100vw;
  height: 5vh;
}

.container {
  width: 1050px;
}

@media (max-width: $tabletMaxWidth) {
  .container {
    width: 710px;
  }
}

@media (max-width: $mobileMaxWidth) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 15vh;
  }

  .container {
    width: 350px;
  }
}
